<nx-circle-toggle-group [formField]="formField()" class="nx-margin-bottom-s">
  <nx-label [disabled]="formField()().disabled()">Are you married?</nx-label>
  <nx-circle-toggle [value]="true" circleText="Yes" />
  <nx-circle-toggle [value]="false" circleText="No" />
  <nx-error class="nx-margin-top-xs"> {{ formField()().errors().at(0)?.message }} </nx-error>
</nx-circle-toggle-group>
<div class="nx-margin-bottom-m">
  Dirty: {{ formField()().dirty() }}, Touched: {{ formField()().touched() }}
</div>
