<nx-formfield [label]="label()">
  <input
    nxInput
    #input
    type="text"
    [appTracking]="name()"
    [ngModel]="controlValue()"
    (ngModelChange)="handelValueChange($event)"
    [ngModelOptions]="{ standalone: true }"
    [nxAutocomplete]="autocomplete"
    [readonly]="readonly()"
    [disabled]="disabled()"
    [required]="required()"
    (blur)="handleBlur()"
    (keydown.enter)="handleEnter($event)"
  />
  @if (query.isPending()) {
    <nx-spinner size="small" nxFormfieldSuffix />
  }
  <nx-error nxFormfieldError> {{ errors() | error }} </nx-error>
</nx-formfield>
<nx-autocomplete #autocomplete="nxAutocomplete" [valueFormatter]="valueFormatter()">
  @for (option of options(); track option.value) {
    <nx-autocomplete-option [value]="option">
      {{ formatter()(option) }}
    </nx-autocomplete-option>
  }
</nx-autocomplete>
