<form>
  <app-input-with-character-count [field]="form.firstName" label="First name" />
  <app-input-with-character-count [field]="form.lastName" label="Last name" />
  <nx-checkbox
    [field]="form.same"
    [readonly]="form.same().readonly()"
    class="nx-margin-bottom-s"
  >
    Last name is same as first name
  </nx-checkbox>
  <nx-formfield label="Birthday">
    <input
      nxDatefield
      nxInput
      max="2020-12-31"
      [field]="form.birthday"
      [datepicker]="myDatepicker"
      [readonly]="form.birthday().readonly()"
    />
    <span nxFormfieldHint>MM/DD/YYYY</span>
    <nx-datepicker-toggle [for]="myDatepicker" nxFormfieldSuffix />
    <nx-datepicker #myDatepicker />
    <nx-error nxFormfieldError>
      {{ form.birthday().errors() | error }}
    </nx-error>
  </nx-formfield>
  <nx-formfield label="Postcode">
    <input nxInput [field]="form.postcode" type="text" inputmode="numeric" />
    @if (this.form.postcode().pending()) {
      <nx-spinner nxFormfieldSuffix />
    }
    <nx-error nxFormfieldError>
      {{ form.postcode().errors() | error }}
    </nx-error>
  </nx-formfield>

  <app-yes-no [field]="form.married" />
  @if (form.spouse && !form.spouse().hidden()) {
    <fieldset>
      <legend>Spouse</legend>
      <nx-formfield label="Spouse Income">
        <span nxFormfieldPrefix>$</span>
        <input
          nxInput
          [field]="form.spouse.income"
          type="text"
          inputmode="numeric"
          mask="separator.0"
          decimalMarker="."
          thousandSeparator=","
          separatorLimit="999999999"
        />
        <nx-error nxFormfieldError>
          {{ form.spouse.income().errors() | error }}
        </nx-error>
      </nx-formfield>
      <nx-formfield label="ABN">
        <input
          nxInput
          type="text"
          inputmode="numeric"
          [field]="form.spouse.abn"
          nxMask="00 000 000 000"
          dropSpecialCharacters
        />
        <nx-error nxFormfieldError>
          {{ form.spouse.abn().errors() | error }}
        </nx-error>
      </nx-formfield>
    </fieldset>
  }
  <app-toggle
    label="Do you employ family members?"
    [field]="form.employFamilyMembers"
  />
  <app-family-members
    [field]="form.familyMembers"
    (lastRemoved)="setEmployFamilyMembersToFalse()"
  />
  <nx-formfield label="Email">
    <input nxInput [field]="form.email" [maxLength]="128" />
    @let emailLengty = form.email().value().length;
    <span nxFormfieldHint>
      {{
        emailLengty ? `${emailLengty}/128 characters` : "max. 128 characters"
      }}</span
    >
    <nx-error nxFormfieldError>
      {{ form.email().errors() | error }}
    </nx-error>
  </nx-formfield>
  <button
    nxButton="primary"
    class="nx-margin-right-xs"
    type="button"
    (click)="submit()"
    [disabled]="form().submitting()"
  >
    @if (form().submitting()) {
      <nx-spinner size="small" class="nx-margin-right-xs" />
    }
    Submit
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="reset()"
    [disabled]="form().submitting()"
  >
    Reset
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="form().reset()"
    [disabled]="form().submitting()"
  >
    Reset (without values)
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="readonly.set(!readonly())"
    [disabled]="form().submitting()"
  >
    {{ readonly() ? "Unset readonly" : "Set readonly" }}
  </button>
  <button
    nxButton="secondary"
    type="button"
    (click)="setName()"
    [disabled]="form().submitting()"
  >
    Set name to "Thilo"
  </button>
  <div class="nx-margin-top-m">{{ model() | json }}</div>
  <div class="nx-margin-top-m">
    Touched: {{ form().touched() ? "true" : "false" }}, Dirty:
    {{ form().dirty() ? "true" : "false" }}
  </div>
  @for (error of form().errorSummary(); track $index) {
    <nx-message context="warning" class="nx-margin-top-m">{{
      error | json
    }}</nx-message>
  }
</form>
