<form [formRoot]="form">
  <app-input-with-character-count [formField]="form.firstName" label="First name" />
  <app-input-with-character-count [formField]="form.lastName" label="Last name" />
  <nx-checkbox [formField]="form.same" class="nx-margin-bottom-s">
    Last name is same as first name
  </nx-checkbox>
  <nx-formfield label="Birthday">
    <input
      nxDatefield
      nxInput
      [min]="minBirthday"
      [max]="maxBirthday"
      [datepicker]="myDatepicker"
      [formField]="form.birthday"
    />
    <span nxFormfieldHint>DD/MM/YYYY</span>
    <nx-datepicker-toggle [for]="myDatepicker" nxFormfieldSuffix />
    <nx-datepicker #myDatepicker />
    <nx-error nxFormfieldError>
      {{ form.birthday().errors() | error }}
    </nx-error>
  </nx-formfield>
  <nx-formfield label="Postcode">
    <input nxInput [formField]="form.postcode" appTracking type="text" inputmode="numeric" />
    @if (this.form.postcode().pending()) {
      <nx-spinner nxFormfieldSuffix />
    }
    <nx-error nxFormfieldError>
      {{ form.postcode().errors() | error }}
    </nx-error>
  </nx-formfield>

  <app-yes-no [formField]="form.married" />
  @if (form.spouse && !form.spouse().hidden()) {
    <fieldset>
      <legend>Spouse</legend>
      <app-number-input [formField]="form.spouse.income" label="Spouse Income" />
      <nx-formfield label="ABN">
        <input
          nxInput
          type="text"
          inputmode="numeric"
          [formField]="form.spouse.abn"
          nxMask="00 000 000 000"
          dropSpecialCharacters
        />
        <nx-error nxFormfieldError>
          {{ form.spouse.abn().errors() | error }}
        </nx-error>
      </nx-formfield>
    </fieldset>
  }
  <app-toggle label="Do you employ family members?" [formField]="form.employFamilyMembers" />
  <app-family-members
    [formField]="form.familyMembers"
    (lastRemoved)="setEmployFamilyMembersToFalse()"
  />
  <app-dropdown [formField]="form.cars" label="Cars" [options]="carOptions" />
  <app-autocomplete
    [formField]="form.city"
    label="City"
    [inputOptions]="cityOptions"
    [formatter]="cityFormatter"
    hint="Search or select a city"
  />
  <nx-formfield label="Email">
    <input nxInput type="email" [formField]="form.email" />
    @let emailLength = form.email().value().length;
    <span nxFormfieldHint>
      {{ emailLength ? `${emailLength}/128 characters` : 'max. 128 characters' }}</span
    >
    <nx-error nxFormfieldError>
      {{ form.email().errors() | error }}
    </nx-error>
  </nx-formfield>
  <button
    nxButton="primary"
    class="nx-margin-right-xs"
    type="submit"
    [disabled]="form().submitting() || form().pending()"
  >
    @if (form().submitting()) {
      <nx-spinner size="small" class="nx-margin-right-xs" />
    }
    Submit
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="reset()"
    [disabled]="form().submitting()"
  >
    Reset
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="form().reset()"
    [disabled]="form().submitting()"
  >
    Reset (without values)
  </button>
  <button
    nxButton="secondary"
    class="nx-margin-right-xs"
    type="button"
    (click)="readonly.set(!readonly())"
    [disabled]="form().submitting()"
  >
    {{ readonly() ? 'Unset readonly' : 'Set readonly' }}
  </button>
  <button nxButton="secondary" type="button" (click)="setName()" [disabled]="form().submitting()">
    Set name to "Thilo"
  </button>
  <div class="nx-margin-top-m">
    Touched: {{ form().touched() ? 'true' : 'false' }}, Dirty:
    {{ form().dirty() ? 'true' : 'false' }}
  </div>
  @for (error of form().errorSummary(); track $index) {
    <nx-message context="warning" class="nx-margin-top-m">
      {{ error.kind }}: {{ error.message }}
    </nx-message>
  }
</form>
